* {
  box-sizing: border-box;
}
.body {
  display: flex;
  justify-content: center;
  align-items: center;
}
html,
.body {
  height: 100%;
}
input {
  margin-right: 0.5rem;
  padding: 0.4rem;
}
button {
  margin-left: 0.5rem;
  padding: 0.5rem;
}
